LLM_BACKEND=ollama
LLM_BASE_URL=http://10.1.60.120:11434
LLM_API_KEY=
LLM_MODEL=qwen3-coder:latest
HOST=0.0.0.0
PORT=8000
DEBUG=false
ALLOWED_BASE_PATH=/tmp/workspace
MAX_FILE_SIZE_MB=10
# Optional integrations
GH_TOKEN=
JIRA_URL=
JIRA_EMAIL=
JIRA_TOKEN=

# API Keys (Required for full functionality)
VISION_API_KEY=d4a99a2da43974ded7f5c8a26c7ce27587517283c11132ba36274f096f4e5062
TAVILY_API_KEY=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
EMBED_API_KEY=d4a99a2da43974ded7f5c8a26c7ce27587517283c11132ba36274f096f4e5062
